			body {
			background-color:black;
			}
			table {
				Color:green;
			}
			th {
				color:black;
			}
			h2 {
			color:green;
			font-family: 'Righteous', cursive;
			}
			h1 {
				font-family: 'Righteous', cursive;
			}
			h3 {
				font-family: 'Righteous', cursive;
			}

			@font-face {
			font-family: 'Righteous', cursive;
			font-style:normal;
			font-weight:400;
			src:url(https://fonts.googleapis.com/css?family=Righteous);
			}
			div.divPic {
				background-image: url("http://iv1.lisimg.com/image/2653349/500full-feed-me's-big-adventure-cover.jpg"); height:500px; width:100%;
				background-attachment: fixed;
				background-repeat: no-repeat;
				background-position: center top;
			}